.common-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.bg-blue{
    background: #072658;
}

/*
flex:1就等于下面
flex-basis优先级高于width
.flex-1{
    flex-grow:1;
    flex-shrink: 1;
    flex-basis: 0px;
}
 */
.flex-1{
    flex:1
}

.flex-2{
    flex:2
}

.flex-3{
    flex:3
}